.mobile-stem-with-us{
  display: none;
}


.mobile-stem-with-us .tabs{
  margin-top: 50px;
}

.tab_content{
  overflow-y: scroll;
  height: 600px;
}

.mobile-stem-with-us .container{
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #161A2C;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.mobile-stem-with-us .tab{
  padding-left: 0;
  padding-right: 0;
  
}

.mobile-stem-with-us .calendar_container{
  display: flex;
  justify-content: center;
}
.mobile-stem-with-us .card{
  
}

.mobile-stem-with-us .card-body{

}

.mobile-modal-show {
  animation: popup 0.7s;
  display: block;
  position: absolute;
  bottom: 5px;
  z-index: 100;

  width: 250px;
}


.mobile-modal-hide {
  animation: slideOut 0.5s ease forwards;
  display: block;
  position: absolute;
  bottom: 5px;
  z-index: 100;

  width: 250px;
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
} 

@media screen and (max-width: 900px) {

    .eventos{
        margin-top: 25px;
        border: none;
    }
    
    .recent_videos .carousel{
        height: 275px;
    }
    
  .tutorialsLine-top{
    text-align: center;
  }
  
  .miniatura{
    width: 350px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    filter:brightness(0.7);
  }

}

@media screen and (max-width: 1000px) {
  .mobile-stem-with-us{
    display: block;
  }
}