@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

.flex-col {
  min-height: auto;
}

.outlined-title {
  color: #101321;
  background: linear-gradient(-45deg, #eeaa52, #e73c6f, #2394d5, #2af3b7);
  background-size: 200% 200%;   
  -webkit-background-clip: text;
  -webkit-text-stroke: 12px transparent;
}

.outlined-subtitle {
  color: #101321;
  background: linear-gradient(-45deg, #eeaa52, #e73c6f, #2394d5, #2af3b7);
  background-size: 100% 100%;   
  -webkit-background-clip: text;
  -webkit-text-stroke: 6px transparent;
}


.navbar {
  background-color: #447282 !important;
  opacity: 0.7;
}

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #4f46e5 !important;
}
.landing-banner {
  background: rgb(16,19,33);
  background: radial-gradient(circle, rgba(16,19,33,1) 24%, rgba(28,68,90,1) 59%, rgba(52,162,200,1) 100%, rgba(64,209,255,1) 100%); 
}


.thecard{
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.6s ease;
}

.thecard.flipped{
  transform: rotateY(180deg);
  transition: all 0.6s ease-in-out;
}

.thecard:not(.flipped){
  transform: rotateY(0deg);
  transition: all 0.6s ease-in-out;
}
.thecardRC{
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.6s ease;
}

.thecardRC.flipped{
  transform: rotateY(180deg);
  transition: all 0.6s ease-in-out;
}

.thecardRC:not(.flipped){
  transform: rotateY(0deg);
  transition: all 0.6s ease-in-out;
}

.thefront{
  backface-visibility: hidden;
  overflow: hidden;
}

.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;

  text-align: center;
  transform: rotateY(180deg);
}
