.embla {
  margin: auto;
  max-width: 100%;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
  height: fit-content;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  height: fit-content;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  height: fit-content;
}

